In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import panel as pn
from IPython.display import display

In [2]:
'''
import plotly.io as pio
pio.renderers.default = 'notebook' 
'''

In [3]:
# Read transactions_2022_2023_categorized.csv
df = pd.read_csv('categorized_expenses.csv')

In [4]:
df

           Date                Expense                 Category  Amount
0    2024-09-01                   Rent    Housing And Utilities  1200.0
1    2024-09-01       Electricity Bill    Housing And Utilities    75.5
2    2024-09-01             Water Bill    Housing And Utilities    30.0
3    2024-09-01       Internet Service    Housing And Utilities    45.0
4    2024-09-02           Metro Ticket           Transportation     2.8
..          ...                    ...                      ...     ...
234  2024-09-10    Garden Tools Rental  Repairs And Maintenance    25.0
235  2024-09-15    Lawn Mowing Service  Repairs And Maintenance    40.0
236  2024-09-20  Tree Trimming Service  Repairs And Maintenance   150.0
237  2024-09-25   Pest Control Service  Repairs And Maintenance    85.0
238  2024-09-05          Plant Nursery                 Shopping    32.0

[239 rows x 4 columns]

In [19]:
color_scale = px.colors.qualitative.Pastel

In [ ]:
pie_fig = px.pie(df, values='Amount', names='Category', color_discrete_sequence = color_scale)
pie_fig.update_traces(textposition='inside', direction ='clockwise', hole=0.3, textinfo="label+percent")

In [20]:
# Group by Category and sum the Amount
category_totals = df.groupby('Category')['Amount'].sum().reset_index()
print(".....category totals......",category_totals)

.....category totals......                     Category   Amount
0   Accommodation And Travel   245.00
1              Entertainment  1135.95
2            Food And Drinks   748.72
3                  Groceries   359.95
4        Health And Wellness   286.10
5      Housing And Utilities  1350.50
6              Miscellaneous    32.00
7              Personal Care    87.00
8    Repairs And Maintenance   791.00
9                   Shopping  1205.43
10    Subscriptions And Fees   560.30
11            Transportation   103.55
12       Vehicle Maintenance   612.00

In [21]:
# Create the pie chart
fig = px.pie(category_totals, values='Amount', names='Category', 
             title='Expense Distribution by Category',color_discrete_sequence = color_scale)

In [22]:
fig.show(renderer='iframe')